* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
    -ms-overflow-style: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.App {
    left: 0;
    top: 0;
    max-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background: '#1a1a1a'
}