.AdminHome {
    display:flex;
    position: absolute;
    max-height: 94vh;
    min-height:fit-content;
    width:100vw;
    top:8vh;
    left:0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow:scroll;
}

.rows {
    position: relative;
    height:100%;
    white-space: nowrap;
    overflow: scroll;
}

.rows th,
td {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.rows th {
    font-size: 26px;
    letter-spacing: 0.1em;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.rows td {
    padding: 1rem;
    font-size: 20px;
}

.rows td input {
    width: 85%;
    background-color: #1b1b1b67;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
    border-style: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 1rem;
    padding-right: 10%;
    border-radius: .2rem;
}

.rows td input.invalid {
    border-color: red;
    border-style: solid;
    animation: shake .3s;
}

.AddAssetPrompt input.invalid {
    border-color: red;
    border-style: solid;
    animation: shake .3s;
}