.FacultyPage {
    position: absolute;
    display: flex;
    top: 3rem;
    left: 0;
    width: 100vw;
}

.FacultyContainer {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: scroll;
    flex: 1 1 auto;
    min-height: min-content;
    max-height: 96vh;
}

.FacultyBox {
    margin: 1rem;
    padding: 1rem;
    background: #1b1b1b67;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    transition: ease-in-out .25s;
}

.FacultyBox * {
    margin: .5rem 2rem;
}

.FacultyBox a {
    text-decoration: none;
    animation: ease-in-out .25s;
}

.FacultyBox a:hover {
    text-decoration: underline 1px;
}

.FacultyBox:hover {
    background: #B9975B67;
    transition: ease-in-out .25s;
}

.break {
    flex-basis: 100%;
    height: 0;
}