.LoginPanel {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    min-width: 30%;
    max-width: 80%;
    min-height: 60%;
    max-height: 80%;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginPanel button {
    margin-top: 2 rem;
    padding: 1em 3em;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: 18px;
    background-color: transparent;
    border: 3px solid #F2F2F8;
    color: #F2F2F8;
    transform: translate3D(0, 0, 0);
    transition: color .3s, background-color .3s, transform .15s;
    cursor: pointer;
}

.LoginPanel button:hover {
    color: #212121;
    background-color: #f2f2f8;
}

.LoginPanel button:active {
    transform: translate3D(0, 2px, 0)
}