.TopicsPage {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100vw;
}

.TopicsContainer {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Topic {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: ease-in-out .25s;
    cursor: pointer;
}

.Topic:hover {
    background-color: #B9975B67;
    transition: ease-in-out .25s;
    border-radius: 1.5rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}