.TopicsPage {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3rem;
    max-height:97vh;
    left: 0;
    width: 100vw;
}

.TopicsContainer {
    width: 80vw;
    max-height:100%;
    overflow:scroll;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Topic {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: ease-in-out .25s;
    cursor: unset;
    background-color: #1b1b1b67;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), 0 5px 10px -3px rgba(0, 0, 0, .13);
}

.Topic:hover {
    background-color: #B9975B67;
    transition: ease-in-out .25s;
    border-radius: 1.5rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}

@media screen and (max-width: 620px) {
    .TopicsContainer {
        width: 95vw;
    }
}